:root {
	--colorBeige: #E6DDC4;
	--colorAzulOscuro: #181D31;
	--colorSombraVerde: #678983;
	--colorNegro: black;
	--colorBlanco: white;
	--colorGris: grey;
	--colorAzulClaro: rgb(73, 85, 121);
}

body {
	background-color: var(--colorAzulOscuro);
	margin: 0px;
	display: grid;
	min-height: 100vh;
	grid-template-rows: auto 1fr auto;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.computadora-primer-plano {
	animation-name: animacion-primer-plano;
	animation-duration: 1s;
}

.computadora-segundo-plano {
	animation-name: animacion-segundo-plano;
	animation-duration: 2s;
}


@keyframes animacion-primer-plano{
	from {
		translate: 0px -30px;
		opacity: 0;
	}

	to {
		translate: 0px 0px;
		opacity: 1;
	}
}

@keyframes animacion-segundo-plano{
	0%   {translate: 0px -30px;
		opacity: 0;}
  	25%  {translate: 0px -30px;
		opacity: 0;}
 	50%  {translate: 0px -30px;
		opacity: 0;}
  	75%  {translate: 0px 0px;
		opacity: 0.5;}
 	100% {translate: 0px 0px;
		opacity: 1;}
}

ul {
	display: flex;
}

li {
	list-style-type: none;
	justify-content: space-between;
	padding-left: 10px;
	padding-right: 10px;
}

li button {
	background-color: var(--colorBeige);
	color: var(--colorAzulOscuro);
	border: none;
	padding: 15px 15px;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	border-radius: 10px;
	box-shadow: 5px 5px var(--colorSombraVerde);
}

li button:active {
	translate: 5px 5px;
	box-shadow: none;
}

.title-bgr {
	background-image: url("imagenes/codigo.jpg");
	background-attachment: fixed;
	background-size: cover;
}

.header {
	margin: 0 auto;
	padding-top: 200px;
	padding-bottom: 200px;
	color: white;
	font-size: 40px;
	font-weight: 800;
	text-align: center;
	text-shadow: 1px 1px var(--colorBlanco), 6px 6px var(--colorNegro);
}

.contenido {
	color: var(--colorSombraVerde);
	font-size: 30px;
	font-weight: bold;
	text-shadow: 3px 3px var(--colorNegro);
	text-align: center;
	padding-bottom: 100px;
}

.cont-padre {
	display: grid;
	grid-template-rows: repeat(1, 1fr);
	justify-content: space-around;
	grid-template-areas: 'card1 card2';
}

.card {
	height: 500px;
	width: 400px;
	margin: 60px;
	background-color: var(--colorBeige);
	border: var(--colorSombraVerde) 5px solid;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.card1 {
	grid-area: card1;
}

.card2 {
	grid-area: card2;
}

main article img {
	max-width: 100%;
	max-height: 100%;
}

main article button {
	color: var(--colorBlanco);
	background-color: var(--colorAzulOscuro);
	padding: 10px;
	width: 40%;
	box-shadow: 5px 5px var(--colorSombraVerde);
	border-radius: 10px;
	margin: 20px;
}

main article button:active {
	translate: 5px 5px;
	box-shadow: none;
}

.footer {
	background-color: var(--colorSombraVerde);
	display: flex;
	justify-content: space-between;
}

.footer-left {
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo {
	height: 80px;
	display: grid;
	justify-content: center;
	align-content: center;
	padding: 30px;
}

.Programacion-e-historia {
	font-weight: bold;
	display: grid;
	justify-content: center;
	text-align: center;
	margin: auto;
}

.footer-right {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
}

.card-hist {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 80px 50px;
	gap: 20px;
}

main div h2 {
	font-size: 50px;
	color: var(--colorSombraVerde);
	text-align: center;
}

.text-hist {
	width: 40%;
	font-size: 20px;
	color: var(--colorBeige)
}

main div div {
	width: auto;
	font-size: 15px;
	color: var(--colorBeige)
}

.contenedor {
	margin-top: 10%;
	margin-bottom: 5%;
	text-align: center;
}

.seccion-video {
	background-color: var(--colorNegro);
	margin: 0 auto;
	width: fit-content;
	display: block;
}

video {
	width: 700px;
	margin: 0 auto;
	width: 100%;
	display: block;
}

.titulo-video {
	margin: 0 auto;
	width: fit-content;
	font-size: 40px;
	color: var(--colorSombraVerde);
	display: block;
	text-align: ceter;
	text-shadow: 2px 2px var(-n-colorNegro);
}

.barra {
	display: flex;
	justify-content: space-between;
	background-color: var(--colorGris);
	border-radius: 10px;
	height: fit-content;
}

.video-contador {
	align-items: center;
	justify-content: space-between;
	padding: 30px;
}

.botonera {
	width: fit-content;
	height: fit-content;
	margin: 0;
}

#play {
	background-color: var(--colorBeige);
	color: var(--colorAzulOscuro);
	border: none;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	border-radius: 10px;
	box-shadow: 5px 5px var(--colorSombraVerde);
	width: 60px;
	height: fit-content;
}

#play:active {
	box-shadow: none;
	translate: 5px 5px;
}

#pausa {
	background-color: var(--colorBeige);
	color: var(--colorAzulOscuro);
	border: none;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	border-radius: 10px;
	box-shadow: 5px 5px var(--colorSombraVerde);
	width: 60px;
	height: fit-content;
}

#pausa:active {
	box-shadow: none;
	translate: 5px 5px;
}

.container {
	display: grid;
	place-items: center;
}

#piezas {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 800px;
	margin: 5px;
	display:flex;
}

#puzzle {
	width: 600px;
	display: flex;
	justify-content: center;
}

.pieza {
	width: 200px;
	height: 300px;
	background-size: cover;
	margin: 10px;
}

.placeholder {
	background-color: grey;
	outline: 1px solid #333;
	width: 240px;
	height: 340px;
	display: grid; 
	place-items: center;
	text-decoration: none;
}

.placeholder .pieza {
	margin: 5px;
}

.placeholder:hover {
	background-color: #333;
}

#mensaje {
	color: var(--colorBeige);
	text-align: center;
	display: none;
}

.ganaste {
	background-color: #B3D67C;
}

.ganaste #mensaje {
	display: block;
}

.perdiste {
	background-color: red;
}

.perdiste #mensaje {
	display: block;
}


#botonReiniciar {
	background-color: var(--colorBeige);
	color: var(--colorAzulOscuro);
	border: none;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	border-radius: 10px;
	box-shadow: 5px 5px var(--colorSombraVerde);
	width: 300px;
	height: fit-content;
	margin: 20px;
}

#botonReiniciar:active {
	box-shadow: none;
	translate: 5px 5px;
}