:root {
	--colorBeige: #E6DDC4;
	--colorAzulOscuro: #181D31;
	--colorSombraVerde: #678983;
	--colorNegro: black;
	--colorBlanco: white;
	--colorGris: grey;
}

body {
	background-color: var(--colorAzulOscuro);
	margin: 0px;
	display: grid;
	min-height: 100vh;
	grid-template-rows: auto 1fr auto;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.icono {
	height: 80px;
}

ul {
	display: flex;
}

li {
	list-style-type: none;
	justify-content: space-between;
	padding-left: 10px;
	padding-right: 10px;
}

li button {
	background-color: var(--colorBeige);
	color: var(--colorAzulOscuro);
	border: none;
	padding: 15px 15px;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	border-radius: 10px;
	box-shadow: 5px 5px var(--colorSombraVerde);
}

li button:active {
	translate: 5px 5px;
	box-shadow: none;
}

.title-bgr {
	background-image: url("imagenes/codigo.jpg");
	background-attachment: fixed;
	background-size: cover;
}

.header {
	margin: 0 auto;
	padding-top: 200px;
	padding-bottom: 200px;
	color: white;
	font-size: 40px;
	font-weight: 800;
	text-align: center;
	text-shadow: 1px 1px var(--colorBlanco), 6px 6px var(--colorNegro);
}

.contenido {
	color: var(--colorSombraVerde);
	font-size: 30px;
	font-weight: bold;
	text-shadow: 3px 3px var(--colorNegro);
	text-align: center;
	padding-bottom: 100px;
}

.cont-padre {
	display: grid;
	grid-template-rows: repeat(1, 1fr);
	justify-content: space-around;
	grid-template-areas: 'card1 card2';
}

.card {
	height: 500px;
	width: 400px;
	margin: 60px;
	background-color: var(--colorBeige);
	border: var(--colorSombraVerde) 5px solid;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.card1 {
	grid-area: card1;
}

.card2 {
	grid-area: card2;
}

main article img {
	max-width: 100%;
	max-height: 100%;
}

main article button {
	color: var(--colorBlanco);
	background-color: var(--colorAzulOscuro);
	padding: 10px;
	width: 40%;
	box-shadow: 5px 5px var(--colorSombraVerde);
	border-radius: 10px;
	margin: 20px;
}

main article button:active {
	translate: 5px 5px;
	box-shadow: none;
}

.footer {
	background-color: var(--colorSombraVerde);
	display: flex;
	justify-content: space-between;
}

.footer-left {
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo {
	height: 80px;
	display: grid;
	justify-content: center;
	align-content: center;
	padding: 30px;
}

.Programacion-e-historia {
	font-weight: bold;
	display: grid;
	justify-content: center;
	text-align: center;
	margin: auto;
}

.footer-right {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
}

.card-hist {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 80px 50px;
	gap: 20px;
}

main div h2 {
	font-size: 50px;
	color: var(--colorSombraVerde);
	text-align: center;
}

.text-hist {
	width: 40%;
	font-size: 20px;
	color: var(--colorBeige)
}

main div div {
	width: auto;
	font-size: 15px;
	color: var(--colorBeige)
}

.contenedor{
	margin-top: 10%;
	margin-bottom: 5%;
	text-align: center;
}

.seccion-video{
	background-color: var(--colorNegro);
	margin: 0 auto;
	width:fit-content;
	display: block;
}

video{
 	width: 700px;
	margin: 0 auto;
	width: 100%;
	display: block;
}

.titulo-video{
	margin: 0 auto;
	width: fit-content;
	font-size: 40px;
	color: var(--colorSombraVerde);
	display: block;
	text-align: ceter;
	text-shadow: 2px 2px var(-n-colorNegro);
}
.barra{
	display: flex;
	justify-content: space-between;
	background-color: var(--colorGris);
	border-radius: 10px;
	height: fit-content;
}
.duracion{

}
.botonera{
	width: fit-content;
	height: fit-content;
	margin: 0;
}
#play{
	background-color: var(--colorBeige);
	color: var(--colorAzulOscuro);
	border: none;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	border-radius: 10px;
	box-shadow: 5px 5px var(--colorSombraVerde);
	width: 60px;
	height: fit-content;
}
#play:active{
	box-shadow: none;
	translate: 5px 5px;
}
#pausa{
	background-color: var(--colorBeige);
	color: var(--colorAzulOscuro);
	border: none;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	border-radius: 10px;
	box-shadow: 5px 5px var(--colorSombraVerde);
	width: 60px;
	height: fit-content;
}
#pausa:active{
	box-shadow: none;
	translate: 5px 5px;
}